.news-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 40%;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
}

.read {
  background-color: gray;
}

@media (max-width: 570px) {
  .card {
    width: 100%;
  }
}

img {
  width: 100%;
}
.text {
  text-align: center;
}

button {
  background-color: cadetblue;
  border: none;
  margin: 5px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  width: 50%;
  padding: 5px;
  outline: 0;
}
button:hover {
  background-color: lightseagreen;
}
button:active {
  background-color: cadetblue;
}

input[type=checkbox] {
  display: none;
}
label {
  user-select: none;
}
input[type=checkbox]:checked ~ label {
  text-decoration: line-through;
  color: rgba(0, 37, 70, 0.575);
}