*{
  padding: 0;
  margin: 0;
}


ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
li {
  padding: 10px;
  background-color: cadetblue;
}
li:hover {
  background-color: rgb(37, 62, 63);
  color: white;
}